.App{
  text-align: center;
  opacity:1;
}

.title{

  padding:12px;
  font-size: 25px;
  font-weight: bolder;
  background-color: rgb(61, 9, 9);
  color:white;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
  padding:12px;
  width:100%;
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  gap:300px;

}
span>button{
  border:1px solid white;
  color:white;
  padding:12px;
  border-radius: 5px;
  background: inherit;
}
span>button:hover{
  background-color: black;
}

.user-content{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:1rem;
}
.user-card{
  border:1px solid black;
  width:250px;
  height:250px;
  background-color: rgb(185, 171, 171);
  margin:27px;
  border-radius: 10px;
}
.user-card:hover{
  background: #3f0404;
  color:white;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
 .btn,.btn-one{
  padding:10px;
  margin:5px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  font-size: 12px;
 }
 .btn-one:hover{
  background-color: green;
  color:rgb(62, 3, 3);
  
 }
 .btn:hover{
  background-color: crimson;
  color:white;
 }
 .children{
  height: 100vh;
  margin-top:1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 input{
  width:30%;
  border: 1px solid rgb(72, 180, 231);
  height: 25px;
  border-radius: 10px;
  background-color: rgb(12, 62, 68);
  color: white;
  
 }
 input{
  margin:2px;
  
 }
 .view-btn{
  padding:10px;
    margin:5px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 12px;

 }
 .view-btn:hover{
    color:rgb(16, 13, 13);
    background-color:yellow;
    
 }
 .add-btn{
  background-color: #3f0404;
  color:white;
  border-radius: 5px;

 }
 .add-btn:hover{
  background-color: blueviolet;
 }
